
<ges-login (loginCompletado)="loginRealizado($event)" *ngIf="estado === 'login'"></ges-login>
<ges-registro (registroCompletado)="registroRealizado($event)" *ngIf="estado === 'registro'"></ges-registro>

<div class="app__principal" *ngIf="estado === 'menu'">
  <div class="app__menu">
    <app-menu [consultas]="metadatos"></app-menu>
  </div>
  <div class="app__contenedor">
    <ges-esperando *ngIf="estado === 'esperando'"></ges-esperando>
    <router-outlet *ngIf="estado !== 'esperando'"></router-outlet>
  </div>
  <div class="app__pie">
  Aplicación angular
  </div>
</div>
